@use './partials/resets';
@use './partials/variables';



.main {
    background: blue;

    #{&}__paragraph {
        background: yellow;
        #{&}__paragraph:hover {
            color: red;
        }
    }
}

.error {
    color: red;
}

.success {
    color: green;
}

table{
    width: 100%;

    th {
        background: teal;
        color: white;
    }
}

ul {
    list-style-type: none;
}



