@use './partials/resets';
@use './partials/mixins';
@use './partials/variables';
@use './partials/menu';


.error {
    color: red;
}

.success {
    color: green;
}

table{
    width: 100%;

    th {
        background: teal;
        color: white;
    }
}

ul {
    list-style-type: none;
}
