/*
    Student:    Reginald McPherson
    Course:     DGL-203 Adv. CSS
    Modified:   05 Dec, 2021
    Purpose:    Part of Assignment 4B
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



$bg-nav-primary: #b9761d;
$bg-nav-secondary: darken($bg-nav-primary, 20%);
$text-nav-primary: #ececec;
$text-nav-secondary: #033;

$bg-primary: #b9761d;
$bg-secondary: #0084ff;
$text-primary: #cc0707;
$text-secondary: #ececec;

$transition-speed: 600ms;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$mobile: 800px;




@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}

