/*
    Student:        Reginald McPherson
    Course:         DGL-123 PHP Fundamentals
    Last Modified:  02 Dec 2021
    Filename:       main.css
    Purpose:        Part of the course final project
*/