:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
    Student:    Reginald McPherson
    Course:     DGL-203 Adv. CSS
    Modified:   05 Dec, 2021
    Purpose:    Part of Assignment 4B
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* #region 1. CORE LAYER ============================== */
:root {
  font-size: 16px;
  font-family: "Open Sans";
}

html {
  height: 100vh;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  margin-left: 7rem;
  height: 100%;
  padding: 1rem;
}

/* #endregion */
.navbar {
  position: fixed;
  z-index: 10;
  background-color: #b9761d;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  overflow: hidden;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  white-space: nowrap;
}
.navbar-nav .nav-item {
  width: 100%;
}
.navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #ececec;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 600ms;
  transition: 600ms;
}
.navbar-nav .nav-link img {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.navbar-nav .nav-link .link-text {
  display: none;
  margin-left: 1rem;
}
.navbar-nav .nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #0084ff;
  color: #ececec;
}
.navbar:hover .logo img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  -webkit-transition: 600ms;
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: right;
  color: #ececec;
  background: #b9761d;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 600ms;
  transition: 600ms;
}
.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  -webkit-transition: 600ms;
  transition: 600ms;
  margin-left: 5rem;
}

/* Responsive Styles*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main {
    margin: 0;
  }
}
/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 7rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    color: white;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
/*# sourceMappingURL=menu.css.map */